<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="POST" action="/register" enctype="multipart/form-data">
        Username: <input type="text" name="username" required><br><br>
        Password: <input type="password" name="password" required><br><br>
        First Name: <input type="text" name="firstname"><br><br>
        Last Name: <input type="text" name="lastname"><br><br>
        Email: <input type="email" name="email"><br><br>
        Address: <input type="text" name="address"><br><br>
        Upload File (Extra Credit): <input type="file" name="file"><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
